$--main-bgc:#F3F1F2; // 最外层背景色
$--main-content-bgc:#fff; // 中间主要内容背景色

$--aside-bgc:#fff; // 侧边栏背景色

$--header-bgc:#fff; // 头部景色
$--header-shadow:rgba(69, 31, 1, 0.15); // 头部阴影颜色

$--font-color:#999; // 主体字体颜色

$--logo-width: 100px;